.banner {
    position: relative;
    height: 90vh;
  }
  
  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .banner img.active {
    opacity: 1;
  }
  
  .banner-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(50%);
  }
  
  .banner-controls button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    margin: 0 5px;
    padding: 0;
  }
  
  .banner-controls button.active {
    background-color: #000;
  }
  