.contact-container {
    height: 600px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
    margin-top: 2%;
    height: 80%;
 
}
.from-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
 
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    z-index: 1;    
}
.input-row{
    margin: 30px 0;
    text-align: left;
}
.input-row label{
    cursor: pointer;
    padding: 0;
    margin: 3%;
}
.input-row input,textarea{
    background-color: var(--white-2);
    border: none;
    margin-top: 2% 5%;
  
    background-color: rgba(255, 255, 255,0.5);
        border: 1px solid rgba(59, 48, 48, 0.25);
    box-shadow: 0 14px 28px rgba(59, 48, 48, 0.25);
    
    
}
.input-row textarea{
    max-width: 100%;
    min-width: 100%;
    text-align: justify;
    max-height: 50%;
}
button{
     
}
 
.map{
 width: 100%;   
}