
/*importing font for logo design*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&family=Moirai+One&display=swap');

/* common properities */
header{
    background: var(--eerie-black-2);
    box-shadow: var(--shadow-1);
    display: flex;
}
.logo{
  font-size: 20px;
  margin-left: 50px;
  flex-grow: 0;
  font-family: 'Nova Oval',cursive;
  color: var(--vegas-gold);

}
.logo h1{
     margin: 0%;
}
.logo span:first-child{
    font-family: 'Moirai One',cursive;
}
.logo span:nth-child(2){
    margin-left: 5px;
    display: inline-block;
    border-radius: 5px;
    width: 100px;
    height: 5px;
    background:var(--logo-gradient-line)
}
.nav-bar{
  margin: 0 50px; 
  display: flex;
   flex-grow: 1;
   text-transform: capitalize;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 5px 10px;
  cursor: pointer;
   
}
.nav-links{
   display: flex;
   flex-grow: 1;
  justify-content: space-around;
  list-style-type: none;
   

}
.nav-link{
    text-decoration: none;
    color: white;
    padding: 3px 0;
    height: 100%;
  }
  .nav-link.active {
    transition: border-bottom cubic-bezier(0,.87,.96,.23);
    border-bottom: 3px solid var(--vegas-gold);
  }
 
.mobile{
  display: none;
}

 
/**
*
**# Responsive 
*
**/

@media screen and (max-width:880px) {
  .nav-bar{
    margin: 0;
    padding: auto;
  }
  .nav-link{
    justify-content: space-between;
    margin:0%;
  }
}

@media screen and (max-width:750px){
     header{
      justify-content: space-between;
     }
    .logo{
        font-size: 15px;
    }
    .logo span:nth-child(2){
        width: 100px;
    } 
    .nav-bar{
      display: none;
    }
    .mobile{
      display: flex;
      align-items: center;
      margin-right: 10px;
      font-size: 25px;
      cursor: pointer;
    }

}

@media screen and (max-width:450px){
  .logo{
      
      margin-left:10px;
  }
  .logo span:nth-child(2){
      width: 60px;
  } 
  .nav-links{
    display: none;
  }
}