.price-container{
    height: 600px;
    
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
  
}

.card {
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    z-index: 1;
    width: 300px;
    height: 400px;

  
}

.card:hover {
    transform: scale(1.099);
    transition: all .45s;
}

.price-details span:first-child {
    font-weight: 900;
}

.price-details span:nth-child(2) {
    font-size: 40px;
}

.card img {
    width: 25%;
    height: 30%;
    margin: auto;
}

.card h1 {
    text-transform: uppercase;
    font-size: medium;
}

.offers {
    display: flex;
    flex-direction: column;
}

.icon span:first-child {
    margin-right: 5px;
}
.action{
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.action button {
    cursor: pointer;
    border: none;
    background: var(--orange-yellow-crayola);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: medium;
}

.action  button.active {
    transform: scaleX(.005);
    transform: scaleY(.005);
    transition: all .35s;
}
.action  button:hover{
   background: var(--card-gradient);
}

@media screen and (max-width:1030px) {

    .card h1 {
        font-size: larger;
    }
    

}

 

@media screen and (max-width:750px) {
    .price {
        flex-direction: column;
        gap: 25px;
        height: auto;
    }

    .card {
        width: auto;
    }

}
@media screen and (max-width:450px) {
    
    .card {
        min-width: 100px;
    }
    
.price-details span:nth-child(2) {
    font-size: 25px;
}

}